######################### Picket Configuration #########################

# A comma separated list of plugins to load
plugins="foo"

# The maximum number of players allowed to connect
max_players=20

# The port the minecraft server is set to run on
port=25565

# The screen to run the minecraft server in. If you are running multiple
# instances of picket, make sure each instance is set to run in a
# different screen.
screen=picket

# The interface to listen for picket on. In most cases, this should be
# set to your primary network interface.
interface=lo

# The command to use to start the minecraft server
server_command="cd /home/scott/foo; java -jar -Xmx512M minecraft_server.1.7.9.jar nogui"
